@charset "UTF-8";

/* reset */
* {margin: 0; padding: 0;}
/* body {background:url("../images/bbs/sub_bg.gif")repeat-x;} */
ul, li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;} /* text-decoration: none; - 링크에 줄 없애기 */

#wrap {
    width: 1200px;
    margin: 0 auto; /* 상 오 하 왼 */
}

.blind {
    position: absolute; top: 0; left: 0;
    overflow: hidden; text-indent: -9999999px;
    width: 0; height: 0; font-size:0;
}

    /* margin: 0 auto; <- 상, 하 0 + 좌,우 auto : 중앙정렬 */
    /* position: fixed; z-index: 9999; */
/* header */
#wrap header {
    width: 1200px; height: 100px;
    background: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    position: fixed; z-index: 9999;
}
#wrap header .logo {width: 330px; height: 100px; float:left;}
#wrap header .logo img{width: 70px; height: 70px; float:left; margin-top: 15px;}
#wrap header .logo a{
    font-size:30px; line-height: 100px; color: black;
    font-weight: bold; margin-left: 10px;
}
#wrap header .logo a:hover {color:greenyellow; }

/* menu */
#wrap header .menu {width: 800px; height: 100px; float: left;}
#wrap header .menu ul{float: right; margin-right: -70px; margin-top:-17px;}
#wrap header .menu ul li{float: left; height: 100px;
    margin-left: 0; line-height: 100px;}
#wrap header .menu ul li a{display: block; color: black; text-align: center; font-size: 16px; font-weight: bold; padding: 20px 30px 30px 30px; height: 100px;}

#wrap header .menu li a:hover{color:white;background: #000; border-bottom:2px solid #999; padding-bottom:10px;}

/* ==========왼쪽 메뉴========== */
#wrap section aside {
    float: left;
    width: 250px; height: 1100px; background: #ddd;
}
#wrap section aside .subimg1 {
    width: 250px; height: 215px; background: url(../images/pandas.jpg);
    position: relative;
}

#wrap section aside .lnb {
    width: 250px; height: 885px; background: #fff;
    border-right:1px solid #d1d1d1; box-sizing: border-box;
    border-left:1px solid #d1d1d1;
}

#wrap section aside .lnb ul.nav li {
    height: 45px; line-height: 45px; text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #d1d1d1; box-sizing: border-box;
}

#wrap section aside .lnb ul.nav li a {
    display: block; color: #666; font-weight: bold;
}
#wrap section aside .lnb ul.nav li a:hover {
    color:#000; background: #e6e6e6;
}
#wrap section aside .lnb ul.nav li a:focus {
    color:#000; background: #e6e6e6;
}
                        
#wrap section.back {height: 100px;}

/* ==========회원가입========== */
#wrap section #contents {
    width: 950px; height: 1100px;
    background: #fff; float: left; 
}
#wrap section #contents h1 {
    color: #000; font-size: 27px; font-weight: bold;
    margin: 40px 0 30px 70px;
}
#wrap section #contents a img {
    margin-left: 70px;
}

/* 회원가입 입력창 */
#wrap section #contents form.basic_info {
    width : 800px;
    margin : 20px 0 20px 70px;
    border: 1px solid #dfdfdf;
}

form.basic_info h2 {
    font-size: 18px;
    width: 760px;
    padding: 15px 0 10px 0;
    font-weight : bold;
    margin-left: 20px;
    color:#333;
    border-bottom:1px solid #dfdfdf;
}

form.basic_info h2 span {
    font-size: 13px;
    margin-left: 7px;
    font-weight: normal;
    color: #aaa9a9;
}
form.basic_info h2 span strong {color: #c52467;}

form.basic_info table {
    margin-top: 25px;
    font-size: 12px;
}
form.basic_info table tr {height: 33px; line-height: 40px;}

form.basic_info table p  {
    line-height: 1.5;
    margin-bottom: 5px;
    color:#aaa9a9;    
}
form.basic_info table p.info {
    padding-top: 15px 0 20px 0;
}
form.basic_info table p.info em {
    font-weight: bold;
    color:#aaa9a9;
}
form.basic_info table p.info span {color:#c52467;}
form.basic_info table tr th {
    padding: 5px 0 0 25px;
    margin-top: -2px;
    float: left;
    vertical-align: middle;
}
form.basic_info table tr td {
    padding: 0 0 0 50px; 
}
form.basic_info table tr td  input {
    height: 20px;
    margin: 0 3px 0 3px;
    border:1px solid #ddd;
    background: #d9d9d9;
    color:#333;
}
form.basic_info table tr td.mobile  input {
    margin-top: 0;
    margin-bottom: 10px;
    height: 18px;
    vertical-align: middle;
}
form.basic_info table tr td span {
    margin: 0 0 10px 0;
    height: 18px;
    color:#ac1f3b;
    padding-left: 5px;
}
form.basic_info table tr td select {
    vertical-align: middle;
    border: 1px solid #707070;
}


p.btn {
    padding-left: 5px 0 0 405px;
    text-align: center;
}
p.btn a {text-decoration: none;}
p.btn a:hover {opacity: ;}



/* ====================footer==================== */
#wrap footer {
    height: 120px;
    /* border-top:1px solid #999;
    background: #fff;
    box-sizing: border-box;
    여백과 선을 기본 사이즈에 포함 */
}
#wrap footer a {color:#000;}
#wrap footer .copyright p a:hover {
    color:blue; text-decoration: underline; /* 링크에 라인 넣기 */
}
#wrap footer .copyright p {
    line-height: 1.6; font-size: 14px; color:#999; text-align: center;
    margin-top:20px;
}

#wrap footer .blogo {width: 250px; height: 120px; float: left;}
#wrap footer .copyright {width: 700px; height: 120px; float: left;}
#wrap footer .sns {width: 250px; height: 120px; float: left;}

#wrap footer .blogo img {
    width: 50px; height: 50px; display: block; margin-top: 30px;
    opacity: 0.8;
}

#wrap footer .sns ul {float: right;}
#wrap footer .sns ul li {float: right; margin: 30px 0 0 10px;}
#wrap footer .sns ul li img:hover{opacity: 0.5;}